@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@font-face {
  font-family: 'BonjourDeJongSans';
  src: url('../public/fonts/BonjourDeJongSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MagicalStylish';
  src: url('../public/fonts/Magical-Stylish-Sans-Serif-Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Splither';
  src: url('../public/fonts/SplitherNormal-aoM9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.splither-font {
  font-family: 'Splither', sans-serif;
}

.magical-stylish-font {
  font-family: 'MagicalStylish', sans-serif;
}

